{
    "send": [
        "172.29.1.24:10024"
    ],
    "load": "/Users/ken.mitchell/Documents/GitHub/OpenStageControl-Musings/X-Air/xair_v02.json",
    "debug": true,
    "fullscreen": false,
    "osc-port": 9000,
    "custom-module": "/Users/ken.mitchell/Documents/GitHub/OpenStageControl-Musings/X-Air/xair_v02.js"
}